@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Apiary Diary</h3>
            </div>

            <ul class="list-unstyled components">
                <p>Dashboard</p>
                <li class="active">
                    <a href="#apiarySubmenu" data-toggle="collapse" aria-expanded="false"
                       class="btn btn-secondary dropdown-toggle text-left">Apiaries</a>
                    <ul class="collapse list-unstyled" id="apiarySubmenu">
                        <li>
                            <a asp-controller="Apiaries" asp-action="Create"
                               class="dropdown-item-text">Create new apiary</a>
                        </li>
                        <li>
                            <a asp-controller="Apiaries" asp-action="ViewAll">View all apiaries</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#beehibesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Beehives</a>
                    <ul class="collapse list-unstyled" id="beehibesSubmenu">
                        <li>
                            <a asp-controller="Beehives" asp-action="Create">Add beehive</a>
                        </li>
                        <li>
                            <a asp-controller="Beehives"
                               asp-action="CreateMultiple">Add multiple beehives</a>
                        </li>
                        <li>
                            <a asp-controller="Beehives" asp-action="ViewAll">View all</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#queenBeeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">QueenBees</a>
                    <ul class="collapse list-unstyled" id="queenBeeSubmenu">
                        <li>
                            <a asp-controller="QueenBees" asp-action="AllHivesWithQueens">View all beehives with Queens</a>
                        </li>
                        <li>
                            <a  asp-controller="QueenBees" asp-action="AllHivesWithoutQueens">View all beehives without Queens</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#locationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Locations</a>
                    <ul class="collapse list-unstyled" id="locationSubmenu">
                        <li>
                            <a asp-controller="Locations" asp-action="Create">Add new location</a>
                        </li>
                        <li>
                            <a asp-controller="Locations" asp-action="ViewAll">View all locations</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#inspectionsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Inspections</a>
                    <ul class="collapse list-unstyled" id="inspectionsSubmenu">
                        <li>
                            <a asp-controller="Inspections" asp-action="AllHivesWithInspections">View all inspected beehives</a>
                        </li>
                        <li>
                            <a asp-controller="Inspections" asp-action="AllHivesWithoutInspections">View all uninspected beehives</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#statisticsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Statistics</a>
                    <ul class="collapse list-unstyled" id="statisticsSubmenu">
                        <li>
                            <a href="#">Beehive statistics</a>
                        </li>
                        <li>
                            <a href="#">Apiary statistics</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Notes</a>
                </li>
            </ul>
        </nav>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
}
