@using ApiaryDiary.Controllers.Models.QueenBees
@model AllBeehivesWithQueensListingViewModel

<div class="container-fluid">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="text-center">Apiary Name</th>
                <th scope="col" class="text-center">Beehive Number</th>
                <th scope="col" class="text-center">Queen Type</th>
                <th scope="col" class="text-center">Options</th>
            </tr>
        </thead>

        @foreach (var beehive in Model.BeehivesWithoutQueens)
        {
            <tbody>
                <tr>
                    <td class="text-center">@beehive.ApiaryName</td>
                    <td class="text-center">@beehive.BeehiveNumber</td>
                    <td class="text-center">@beehive.QueenType</td>

                    <td class="text-center mx-auto">
                        <a asp-controller="Beehives" asp-action="Details" asp-route-id="@beehive.Id">
                            <i class="fas fa-clipboard-list" data-toggle="tooltip" data-placement="top" title="Beehive Details"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        }
    </table>
</div>
