body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 24px;
}

h1 {
    float: initial;
}

.customer-login-left {
    background-image: url(/images/bee-blu-pic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 50px 30px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
    color: #ffc107;
    display: block
}

.blankBackground {
    background-color: azure;
    background: no-repeat;
    background-size: cover;
}

.orangeBackground {
    /*background-image: url(/images/orange-dark.jpg);*/
    /*background-color: #ff9a00;*/
    /*background-repeat: repeat repeat;
    background-size: contain;*/
    /*background-position: center center;*/
}

/*#loginBackground {
    background-color: #ff9a00;
}*/