@using ApiaryDiary.Controllers.Models.Apiaries
@using ApiaryDiary.Data.Models.Enums
@model CreateApiaryPostModel

<form asp-action="Create" method="post" class="form">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control col-md-4" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BeekeepingType"></label>
        <select asp-for="BeekeepingType" class="form-control col-md-4"
        asp-items="@Html.GetEnumSelectList<BeekeepingType>()"></select>        
        <span asp-validation-for="BeekeepingType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" class="form-control col-md-4" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>

    <br />

    <input type="submit" value="Create" class="btn btn-primary" />
</form>