@*@using ApiaryDiary.Controllers.Models.Apiaries
@model DeleteApiaryViewModel*@

<div class="alert alert-success" role="alert">
    You have successfully deleted the@*"@Model.ApiaryName"*@ apiary!
</div>