<!-- Page Content  -->
<div class="wrapper">
    <div class="mr-4">
        <partial name="_HomeLeftNavbarPartial" />
    </div>

    <div id="content">
        <!-- Page Content  -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <button type="button" id="sidebarCollapse"
                        class="btn text-sidebar bg-turbo-yellow">
                    <i class="fas fa-align-left"></i>
                    <span></span>
                </button>

                <button class="btn btn-dark d-inline-block d-lg-none ml-auto"
                        type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Apiaries"
                               asp-action="ViewAll">Apiaries</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Beehives"
                               asp-action="ViewAll">Beehives</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="QueenBees"
                               asp-action="AllHivesWithQueens">QueenBees</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" asp-controller="Inspections"
                               asp-action="AllHivesWithInspections">Inspections</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <h2>Welcome to Apiary Diary!</h2>
        <p>
            This website was designed with a very straightforward idea – a chance to give the beekeepers a better alternative
            is better alternative than the usual paper book. Unlike the most web-based diaries, this one is designed and created
            by real apiarists. This allows the user to have all the options and tiny details a professional apiarist would like
            have in his/her own diary.
        </p>

        <div class="line"></div>

        <h2>Interested? Ok, let's getting started!</h2>
        <p>
            After a quick registration, you can create your first apiary! All you have to do is to fill
            a simple form and click the “Create” button! Congratulations! You`ve just created your first apiary!
        </p>

        <div class="line"></div>

        <h2>I`ve just created my first apiary! Now what?</h2>
        <p>
            After you`ve created your apiary, you can play with the left navigation bar and explore your web-based
            diary. For example you can add beehives, edit your apiary`s location, view the details about a queen bee
            or even delete the last inspection you`ve made.  It`s all up to you! Have a great time
            exploring and using Apiary Diary! Thank you!
        </p>
    </div>
</div>

<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>